PID-simulator_kicad/PID-simulator_kicad-backups/
PID-simulator_kicad/production/
_autosave*
*.lck
PID-simulator_kicad/fabrication-toolkit-options.json
*.dsn
*.round-tracks-config
*.ses
*.rules
*.ses
*.kicad_prl
*.bak
